@keyframes rocktheboat{
    from{
        transform: rotate(0deg);
    }
    33%{
        transform: rotate(45deg);
    }
    67%{
        transform: rotate(-45deg);
    }
    to{
        transform: rotate(0deg);
    }
}

@keyframes rocktheboatplusgrow{
    from{
        transform: rotate(0deg);
        background-size: 12.5%;
    }
    15%{
        transform: rotate(45deg);
        background-size: 25%;
    }
    50%{
        transform: rotate(0deg);
        background-size: 12.5%;
    }
    85%{
        transform: rotate(-45deg);
        background-size: 25%;
    }
    to{
        transform: rotate(0deg);
        background-size: 12.5%;
    }
}

@keyframes circle{
    /* Thanks to https://www.useragentman.com/blog/2013/03/03/animating-circular-paths-using-css3-transitions/ */
    from { transform: rotate(0deg) translateX(5%) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(5%) rotate(-360deg); }
}

#containerdiv{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: clip;
}

#cooldiv{
    width: 200vw; 
    height: 200vh; 
    position: absolute; 
    top: -50%; 
    left: -50%; 
    background-image: url(tile.gif);
    background-size: 25%;
    animation-duration: 8s;
    /*animation-name: rocktheboatplusgrow;*/
    animation-name: circle;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

body{
    font-family: "Comic Sans MS", cursive;
    background: linear-gradient(#62a600, #006b95, #793900);
}

@media only screen and (max-width: 600px) {
    #cooldiv{
        background-size: 80vw;
        left:-60%;
        top: -60%;
        width: 500%;
    }
}
